<header class="header"></header>
<main class="main">
  <div class="middle__left">
    <ul>
      <% if (list.length > 0){ for (var i in list) {%>
      <li><%= +i+1 %>.<%= list[i] %></li>
      <% }}%>
    </ul>
  </div>
  <div class="middle__right"></div>
</main>
<footer class="footer"></footer>
