<% head_title = 'about'; title = 'ABOUT'; path = './index.html'; page_name =
'index page'; list = [] %>
<!DOCTYPE html>
<html lang="ja ">
  <head>
    <% include('/templates/_head.ejs') %>
  </head>
  <body>
    <div class="wrap">
      <div class="info"><% include('src/templates/_info.ejs') %></div>
      <% include('src/templates/_contents.ejs') %>
    </div>
  </body>
</html>
