<% head_title = 'about'; title = 'ABOUT'; path = './index.html'; page_name =
'index page'; list = [] %>
<!DOCTYPE html>
<html lang="ja ">
  <head>
    <% include src/templates/_head %>
  </head>
  <body>
    <div class="wrap">
      <div class="info"><% include src/templates/_info %></div>
      <% include src/templates/_contents %>
    </div>
  </body>
</html>
