<% head_title = 'index'; title = 'Home'; path = './about.html'; page_name =
'about page'; list = ['HTML', 'CSS', 'JavaScript'] %>
<!DOCTYPE html>
<html lang="ja ">
  <head>
    <%= require("./templates/_head.ejs")() %>
  </head>
  <body>
    <div class="wrap">
      <div class="info"><%= require("./templates/_info.ejs")() %></div>
      <%= require("./templates/_contents.ejs")() %>
    </div>
  </body>
</html>
